<p>add-t works!</p>


<div style="background-color:rgb(111, 217, 111);">
    <div style=" height: 500px;  width:550px; background-color: burlywood; margin-left:350px;" >
    
        <h2 style="color: red; text-align: center;">Add New Product</h2>
    <form [formGroup]="prform" (ngSubmit)="savepr(); prform.reset();" style="padding-top:30px; margin-left:150px;">
    
        <input type="number" formControlName="id" placeholder="enter id"><br><br>
        <input type="text" formControlName="title" placeholder="enter topic name"><br><br>
        <input type="text" formControlName="desc" placeholder="enter topic description"><br><br>

        <button type="submit">save class</button>
    
    
    
    
    </form>
    </div></div>