


<div style="background-color:aliceblue">
    <div style=" height: 500px;  width:550px; background-color: burlywood; margin-left:350px;" >
    <br>
        <h2 style="color: red; text-align: center;">Add New Product</h2>
    <form [formGroup]="prform" (ngSubmit)="savepr(); prform.reset();" style="padding-top:30px; margin-left:150px;">
    
        <!-- <input type="number" formControlName="id" placeholder="enter id"><br><br> -->
        <input style="height: 20px; width:300px;" type="text" formControlName="title" placeholder="Enter book name"><br><br>
        <input style="height: 20px; width:300px;" type="text" formControlName="desc" placeholder="summary"><br><br>
        <input type="file" name="img" placeholder="Choose file">
        <div>
        <button style="height: 30px; width:100px; margin-top: 20px;" type="submit">save book</button>
    </div>
    
    
    
    </form>
    </div></div>